---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=KBPq7pUN0bNSkmZqZW3YtRBv5DxbIRPUnTmOZQEG&query=sweet%20potatoe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3594'
      X-Vcap-Request-Id:
      - ba45dae7-d940-4cfa-527b-d4cf5faba880
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49676,"currentPage":1,"totalPages":994,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potatoe","generalSearchInput":"sweet potatoe","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1100678,"description":"Bread,
        sweet potato","lowercaseDescription":"bread, sweet potato","commonNames":"","additionalDescriptions":"pre-sliced
        or not","dataType":"Survey (FNDDS)","foodCode":51134000,"publishedDate":"2020-10-30","foodCategory":"Yeast
        breads","foodCategoryId":996397,"allHighlightFields":"","score":470.76736,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":7.41,"rank":600,"indentLevel":1,"foodNutrientId":13081138},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":2.84,"rank":800,"indentLevel":1,"foodNutrientId":13081139},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":45.2,"rank":1110,"indentLevel":2,"foodNutrientId":13081140},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":239,"rank":300,"indentLevel":1,"foodNutrientId":13081[...]
[...]
