---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=lc6mBdIj584bakIB0MoIfkgtdM5gdWE1B2BgkIy3&pageSize=10&query=sweet%20potato
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3593'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":46320,"currentPage":1,"totalPages":4632,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potato","generalSearchInput":"sweet potato","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1993823,"description":"SWEET
        POTATO","lowercaseDescription":"sweet potato","dataType":"Branded","gtinUpc":"819614010394","publishedDate":"2021-07-29","brandOwner":"Country
        Sweet Produce","brandName":"BAKO SWEET","ingredients":"SWEET POTATOES","marketCountry":"United
        States","foodCategory":"Pre-Packaged Fruit & Vegetables","allHighlightFields":"<b>Brand
        Owner</b>: Country <em>Sweet</em> Produce<br/><b>Ingredients</b>: <em>SWEET</em>
        <em>POTATOES</em>","score":1116.4451,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":1.54},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0.0},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":20.0},{"nutrientId":1008,"nutrient[...]
