---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/list?api_key=DONT SHOW MY API KEY&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3593'
      X-Vcap-Request-Id:
      - '09bab4df-5b0e-470c-75b7-bb55e2b88ea6'
    body:
      encoding: ASCII-8BIT
      string: '[{"fdcId":983525,"description":"SWEET POTATOES","dataType":"Branded","publicationDate":"2020-06-26","brandOwner":"NOT
        A BRANDED ITEM","gtinUpc":"8901020020844","foodNutrients":[{"number":"203","name":"Protein","amount":1.50,"unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure"},{"number":"204","name":"Total lipid
        (fat)","amount":0E-8,"unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure"},{"number":"205","name":"Carbohydrate,
        by difference","amount":20.3,"unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure"},{"number":"208","name":"Energy","amount":[...]
