---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=15yZUDMCvF6lQsT1mTBgSa7oIB27TkLwkJ7Pad0Q&pageNumber=1&pageSize=10&query=cheddar%20cheese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 15yZUDMCvF6lQsT1mTBgSa7oIB27TkLwkJ7Pad0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3586'
      X-Vcap-Request-Id:
      - 338168c4-bc80-4ae1-7295-52f3cacf829c
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":54739,"currentPage":1,"totalPages":5474,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"cheddar
        cheese","generalSearchInput":"cheddar cheese","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":2021456,"description":"CHEDDAR
        CHEESE","lowercaseDescription":"cheddar cheese","dataType":"Branded","gtinUpc":"041497083411","publishedDate":"2021-10-28","brandOwner":"Weis
        Markets, Inc.","brandName":"WEIS","ingredients":"PASTEURIZED MILK, CHEESE
        CULTURE, SALT, ENZYMES AND ANNATTO [ VEGETABLE COLOR]. POTATO STARCH, CORN
        STARCH AND CALCIUM SULFATE ADDED TO PREVENT CAKING. NATAMYCIN (A NATURAL MOLD
        INHIBITOR). ","marketCountry":"United States","foodCategory":"Cheese","modifiedDate":"2018-06-04","dataSource":"LI","packageWeight":"8
        oz/227 g","servingSizeUnit":"g","servingSize":28.0,"allHighlightFields":"<b>Ingredients</b>:
        PASTEURIZED MILK, <em>CHEESE</em> CULTURE, SALT, ENZYMES AND ANNATTO [ VEGETABLE
        COLOR]. POTATO STARCH, CORN","score":879.5974,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":25.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":26203678},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":32.1,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":26203679,"percentDailyValue":14},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":3.57,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":26203680,"percentDailyValue":0},{"nutrientId":1008,"nutrie[...]
