---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=OwdyDMbrhfZf0PNawWLuhbzcljpje6VR8dAp5Jda&query=pork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3514'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":15360,"currentPage":1,"totalPages":308,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"pork","generalSearchInput":"pork","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1945366,"description":"PORK","lowercaseDescription":"pork","dataType":"Branded","gtinUpc":"743138009506","publishedDate":"2021-07-29","brandOwner":"Clyde
        Evans Smokehouse","brandName":"CHIEF","ingredients":"PORK, SEA SALT","marketCountry":"United
        States","foodCategory":"Canned Meat","modifiedDate":"2018-04-05","dataSource":"LI","packageWeight":"28
        oz/793 g","servingSizeUnit":"g","servingSize":85.0,"allHighlightFields":"<b>Ingredients</b>:
        <em>PORK</em>, SEA SALT","score":936.34766,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":21.2,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":22931136},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":4.12,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":22931137,"percentDailyValue":5},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCSL","derivationDescription":"Calculated
        from a less than value per serving size measure","derivationId":73,"value":1.18,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":22931138,"percentDailyValue":0},{"nutrientId":1[...]
