---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=food_key&dataType=&pageNumber=1&page_size=10&query=anise
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3582'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":553,"currentPage":1,"totalPages":12,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"dataType":[],"query":"anise","generalSearchInput":"anise","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":171316,"description":"Spices,
        anise seed","lowercaseDescription":"spices, anise seed","scientificName":"Pimpinella
        anisum","commonNames":"","additionalDescriptions":"","dataType":"SR Legacy","ndbNumber":2002,"publishedDate":"2019-04-01","foodCategory":"Spices
        and Herbs","allHighlightFields":"","score":571.9481,"foodNutrients":[{"nutrientId":1087,"nutrientName":"Calcium,
        Ca","nutrientNumber":"301","unitName":"MG","value":646,"rank":5300,"indentLevel":1,"foodNutrientId":1600062,"dataPoints":5},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":15.9,"rank":800,"indentLevel":1,"foodNutrientId":1600063,"dataPoints":10},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"NC","derivationDescription":"Calculated","derivationId":49,"value":50.0,"foodNutrientSourceId":2,"foodNutrientSourceCode":"4","foodNutrientSourceDescription":"Calculated
        or imputed","rank":1110,"indentLevel":2,"foodNutrientId":1600064,"dataPoints":0},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","derivationCode":"NC","derivationDescription":"Calculated","derivationId":49,"value":337,"foodNutrientSourceId":2,"foodNutrientSourceCode":"4","foodNutrientSourceDescription":"Calculated
        or imputed","rank":300,"indentLevel":1,"foodNutrientId":1600065,"dataPoints":0},{"nutrientId":1051,"nutrientName":"Water[...]
