---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=Vwb0bOuhV0FNzU6eXHaHu3SI7ibWBZkJdz4mil4c&pageSize=10&query=ingredients:banana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3485'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":3329,"currentPage":1,"totalPages":333,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"ingredients:banana","generalSearchInput":"ingredients:banana","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1565774,"description":"BANANA
        CHIPS","lowercaseDescription":"banana chips","dataType":"Branded","gtinUpc":"011822543156","publishedDate":"2021-03-19","brandOwner":"Rite
        Aid Corporation","brandName":"RITE AID","ingredients":"BANANAS (BANANAS, COCONUT
        OIL, SUGAR, NATURAL BANANA FLAVOR).","marketCountry":"United States","foodCategory":"Wholesome
        Snacks","allHighlightFields":"<b>Ingredients</b>: <em>BANANAS</em> (<em>BANANAS</em>,
        COCONUT OIL, SUGAR, NATURAL <em>BANANA</em> FLAVOR).","score":-2.5776482,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":7.5},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":35.0},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":57.5},{"nutrientId":1008,"nutrientName":"Energy","nut[...]
