---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<fake_food_key>&query=cheddar%20cheese
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3594'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":52829,"currentPage":1,"totalPages":1057,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"cheddar
        cheese","generalSearchInput":"cheddar cheese","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":2015943,"description":"CHEDDAR
        CHEESE","lowercaseDescription":"cheddar cheese","dataType":"Branded","gtinUpc":"75925306223","publishedDate":"2021-10-28","brandOwner":"Three
        Square Inc.","brandName":"CRYSTAL FARMS","ingredients":"CHEDDAR CHEESE (PASTEURIZED
        MILK, CHEESE CULTURE, SALT, ENZYMES, ANNATTO COLOR), POTATO STARCH, STARCH
        AND CELLULOSE POWDER TO PREVENT CAKING, NATAMYCIN (MOLD INHIBITOR).","marketCountry":"United
        States","foodCategory":"Cheese","modifiedDate":"2021-02-25","dataSource":"LI","packageWeight":"8
        oz/226 g","servingSizeUnit":"g","servingSize":28.0,"allHighlightFields":"<b>Ingredients</b>:
        <em>CHEDDAR</em> <em>CHEESE</em> (PASTEURIZED MILK, <em>CHEESE</em> CULTURE,
        SALT, ENZYMES, ANNATTO COLOR), POTATO STARCH","score":863.29614,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":25.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":25939750},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":32.1,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":25939751,"percentDailyValue":14},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":3.57,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":25939752,"percentDailyValue":0},{"nutrientId":1008,"nutrie[...]
