---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<api_key>&query=sweet%20potatos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3579'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":46320,"currentPage":1,"totalPages":927,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potatos","generalSearchInput":"sweet potatos","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1100678,"description":"Bread,
        sweet potato","lowercaseDescription":"bread, sweet potato","commonNames":"","additionalDescriptions":"pre-sliced
        or not","dataType":"Survey (FNDDS)","foodCode":51134000,"publishedDate":"2020-10-30","foodCategory":"Yeast
        breads","allHighlightFields":"","score":467.69714,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":7.41},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":2.84},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":45.2},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":239},{"nutrientId":1018,"nutrientName":"Alcohol,
        ethyl","nutrientNumber":"221","unitName":"G","value":0.0},{"nutrientId":1051,"nutrientName":"Water","nutrie[...]
