---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=IBrr3WLMRnFvnlpciDcPDMIChaL7447fd8EnsmWw&dataType=&query=sweet%20potatoes&sortBy=dataType.keyword&sortOrder=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '2987'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49652,"currentPage":1,"totalPages":994,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"dataType":[],"query":"sweet
        potatoes","generalSearchInput":"sweet potatoes","pageNumber":1,"sortBy":"dataType.keyword","sortOrder":"asc","numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":451884,"description":"SWEET
        POTATOES","lowercaseDescription":"sweet potatoes","dataType":"Branded","gtinUpc":"832298010009","publishedDate":"2019-04-01","brandOwner":"NOT
        A BRANDED ITEM","ingredients":"","marketCountry":"United States","foodCategory":"Pre-Packaged
        Fruit & Vegetables","modifiedDate":"2018-02-16","dataSource":"LI","servingSizeUnit":"g","servingSize":130.0,"householdServingFullText":"1
        .PETITE POTATO","allHighlightFields":"","score":987.41956,"foodNutrients":[{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":2998250,"percentDailyValue":0},{"nutrientId":1087,"nutrientName":"Calcium,
        Ca","nutrientNumber":"301","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":31.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":5300,"indentLevel":1,"foodNutrientId":2998251,"percentDailyValue":4},{"nutrientId":1089,"nutr[...]
