---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=food_key&dataType=&pageNumber=1&page_size=10&query=butter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3583'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":55429,"currentPage":1,"totalPages":1109,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"dataType":[],"query":"butter","generalSearchInput":"butter","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1920273,"description":"BUTTER","lowercaseDescription":"butter","dataType":"Branded","gtinUpc":"032601033125","publishedDate":"2021-07-29","brandOwner":"Taylor
        Fresh Foods, Inc.","brandName":"EARTHBOUND FARM","ingredients":"ORGANIC BUTTER
        LETTUCE LEAVES.","marketCountry":"United States","foodCategory":"Pre-Packaged
        Fruit & Vegetables","modifiedDate":"2019-08-14","dataSource":"LI","packageWeight":"5
        oz/142 g","servingSizeUnit":"g","servingSize":85.0,"allHighlightFields":"<b>Ingredients</b>:
        ORGANIC <em>BUTTER</em> LETTUCE LEAVES.","score":752.7078,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":1.18,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":23776364},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":23776365,"percentDailyValue":0},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":2.35,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":23776366,"percentDailyValue":1},{"nutrientId":1008,"nutrien[...]
