<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= link_to "Ingredient Search", root_path, class: "navbar-brand" %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <%= form_with url: '/foods', method: :get, local: true do |f|%>
        <div class="form-group search-field">
          <%= f.text_field :q %>
          <%= f.submit "Search" %>
        </div>
      <% end %>
    </ul>
  </div>
</nav>
