---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/search?api_key=<DONT_SHARE_MY_FOOD_KEY>&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3572'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":44128,"currentPage":1,"totalPages":883,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potatoes","generalSearchInput":"sweet potatoes","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":535125,"description":"SWEET
        POTATOES","lowercaseDescription":"sweet potatoes","dataType":"Branded","gtinUpc":"492111402857","publishedDate":"2019-04-01","brandOwner":"ARCHER
        FARMS","ingredients":"SWEET POTATOES.","marketCountry":"United States","foodCategory":"Frozen
        Prepared Sides","allHighlightFields":"<b>Ingredients</b>: <em>SWEET</em> <em>POTATOES</em>.","score":922.7158,"foodNutrients":[{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0.0},{"nutrientId":1087,"nutrientName":"Calcium,
        Ca","nutrientNumber":"301","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":36.0},{"nutrientId":1089,"nutrientName":"Iron,
        Fe","nutrientNumber":"303","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0.65},{"nutrientId":1104,"nutrientName[...]
