---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=15yZUDMCvF6lQsT1mTBgSa7oIB27TkLwkJ7Pad0Q&pageNumber=1&pageSize=10&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - 15yZUDMCvF6lQsT1mTBgSa7oIB27TkLwkJ7Pad0Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3588'
      X-Vcap-Request-Id:
      - 3e6f0279-4d9f-4871-6ea1-96ab92bb5bae
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":409897,"currentPage":1,"totalPages":40990,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1104067,"description":"100
        GRAND Bar","lowercaseDescription":"100 grand bar","commonNames":"","additionalDescriptions":"$
        100,000 Bar","dataType":"Survey (FNDDS)","foodCode":91715300,"publishedDate":"2020-10-30","foodCategory":"Candy
        containing chocolate","foodCategoryId":999786,"allHighlightFields":"","score":1.0,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":2.5,"rank":600,"indentLevel":1,"foodNutrientId":13301423},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":19.3,"rank":800,"indentLevel":1,"foodNutrientId":13301424},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":71.0,"rank":1110,"indentLevel":2,"foodNutrientId":13301425},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":468,"rank":300,"indentLevel":1,"foodNutrientId":13301[...]
