---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/list?api_key=DONT SHOW MY API KEY&query
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3590'
      X-Vcap-Request-Id:
      - c8cb7a26-0b5e-4ccb-6c09-305a750a119a
    body:
      encoding: ASCII-8BIT
      string: '[{"fdcId":1104067,"description":"100 GRAND Bar","dataType":"Survey
        (FNDDS)","publicationDate":"2020-10-30","foodCode":"91715300","foodNutrients":[{"number":"203","name":"Protein","amount":2.50,"unitName":"G"},{"number":"204","name":"Total
        lipid (fat)","amount":19.3,"unitName":"G"},{"number":"205","name":"Carbohydrate,
        by difference","amount":71.0,"unitName":"G"},{"number":"208","name":"Energy","amount":468,"unitName":"KCAL"},{"number":"221","name":"Alcohol,
        ethyl","amount":0E-8,"unitName":"G"},{"number":"255","name":"Water","amount":6.10,"unitName":"G"},{"number":"262","name":"Caffeine","amount":8.00,"unitName":"MG"},{"number":"263","name":"Theobromine","amount":55.0,"uni[...]
