<% @foods.each do |food| %>
<ul>
  <li>Brand Owner: <%= food.brand %> </li>
  <li>Code:  <%= food.code %> </li>
  <li>Food Description: <%= food.description %> </li>
  <li>Ingredients: <%= food.ingredients %> </li>
</ul>
<% end %>
