<h1>Search Results</h1>
<% @foods.each do |food| %>
  <h3><%= food.description %></h3>
  <p><%= food.code %></p>
  <p><%= food.brand_owner %></p>
  <p><%= food.food_ingredients %></p><br><br>
<% end %>
