<h1>Search Results</h1>

<% @foods.each do |food| %>
  <p>GTIN/UPC Code: <%= food.upc %></p>
  <p>Description: <%= food.description %></p>
  <p>Brand Owner: <%= food.brand_owner %></p>
  <p>Ingredients: <%= food.ingredients %></p>
<% end %>
