<h1>List of Foods:</h1>

<% @foods.take(10).each do |food| %>
<ul>
  <li>
    <p>GTIN/UPC code: <%= food.upc_code %></p>
    <p>Description: <%= food.description %></p>
    <p>Brand Owner: <%= food.brand_owner %></p>
    <p>Ingredients: <%= food.ingredients %></p>
  </li>
  </ul>
<% end %>
