<h1>Food Search Results</h1>
<% @food_response.first(10).each do |food|%>
<section class='food_item'>
  <h2 class='gtinUpc'>Food GTIN/UPC: <%=food[:gtinUpc]%></h2>
  <h2 class='description'>Food Description: <%=food[:description]%></h2>
  <h2 class='brandOwner'>Food Brand Owner: <%=food[:brandOwner]%></h2>
  <h2 class='ingredients'>Food Ingredients: <%=food[:ingredients]%></h2>
</section>
<%end%>

