<h1>Search Results</h1>
<% @foods.each do |food| %>
  <h3><%= food.description %></h3>
  <p>GTIN/UPC Code: <%= food.code %></p>
  <p>Brand Owner: <%= food.brand_owner %></p>
  <p>Ingredients: <%= food.food_ingredients %></p><br><br>
<% end %>
