 should see a list of TEN foods that contain the ingredient 'sweet potatoes'
    For each of the foods I should see:
      - The food's GTIN/UPC code
      - The food's description
      - The food's Brand Owner
      - The food's ingredients " do

<h1>Food Search Results</h1>

