---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=Private food key&query=chocolate%20chips
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3578'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":52444,"currentPage":1,"totalPages":1049,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"chocolate
        chips","generalSearchInput":"chocolate chips","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1670518,"description":"CHOCOLATE
        CHIPS","lowercaseDescription":"chocolate chips","dataType":"Branded","gtinUpc":"04656700781","publishedDate":"2021-03-19","brandOwner":"Raley''s","brandName":"RALEY''S","ingredients":"SUGAR,
        CHOCOLATE LIQUOR, COCOA BUTTER, BUTTERFAT (MILK), SOY LECITHIN, VANILLA FLAVOR.","marketCountry":"United
        States","foodCategory":"Baking Decorations & Dessert Toppings","allHighlightFields":"<b>Ingredients</b>:
        SUGAR, <em>CHOCOLATE</em> LIQUOR, COCOA BUTTER, BUTTERFAT (MILK), SOY LECITHIN,
        VANILLA FLAVOR.","score":1047.6985,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCSL","derivationDescription":"Calculated
        from a less than value per serving size measure","value":6.67},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":26.7},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":66.7},{"nutrientId":1008,"nutrientName":"Energy","nu[...]
