---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=fake_api_key&pageNumber=1&pageSize=10&query=Sweet%20Potatoes&sortBy=dataType.keyword&sortOrder=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - fake_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
      X-Vcap-Request-Id:
      - 4c7949ed-07bc-4d45-59de-d1c5745da938
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49676,"currentPage":1,"totalPages":4968,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"Sweet
        Potatoes","generalSearchInput":"Sweet Potatoes","pageNumber":1,"sortBy":"dataType.keyword","sortOrder":"asc","numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":983525,"description":"SWEET
        POTATOES","lowercaseDescription":"sweet potatoes","dataType":"Branded","gtinUpc":"8901020020844","publishedDate":"2020-06-26","brandOwner":"NOT
        A BRANDED ITEM","ingredients":"ORGANIC SWEET POTATOES.","marketCountry":"United
        States","foodCategory":"Pre-Packaged Fruit & Vegetables","modifiedDate":"2020-04-13","dataSource":"LI","servingSizeUnit":"g","servingSize":133.0,"householdServingFullText":"133
        GRM","allHighlightFields":"<b>Ingredients</b>: ORGANIC <em>SWEET</em> <em>POTATOES</em>.","score":986.6137,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":1.5,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":11594935,"percentDailyValue":0},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":11594937,"percentDailyValue":0},{"nutrientId":1005,"[...]
