---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=Vwb0bOuhV0FNzU6eXHaHu3SI7ibWBZkJdz4mil4c&pageSize=10&query=ingredients:sugar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3488'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":187431,"currentPage":1,"totalPages":18744,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"ingredients:sugar","generalSearchInput":"ingredients:sugar","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1637921,"description":"KEY
        LIME CHEESECAKE MIX","lowercaseDescription":"key lime cheesecake mix","dataType":"Branded","gtinUpc":"816277011706","publishedDate":"2021-03-19","brandOwner":"Phoenix
        Food LLC","brandName":"JUST IN TIME GOURMET","ingredients":"POWDERED SUGAR
        (SUGAR, CORNSTARCH), BROWN SUGAR (SUGAR, CANE SYRUP), AND LIME FLAVORING.","marketCountry":"United
        States","foodCategory":"Cake, Cookie & Cupcake Mixes","allHighlightFields":"<b>Ingredients</b>:
        POWDERED <em>SUGAR</em> (<em>SUGAR</em>, CORNSTARCH), BROWN <em>SUGAR</em>
        (<em>SUGAR</em>, CANE SYRUP), AND LIME FLAVORING.","score":-494.7954,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":0.0},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0.0},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":100},{"nutrientId":1008,"nutrientNa[...]
