---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<API_KEY>&pageSize=10&query=chicken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3581'
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":16813,"currentPage":1,"totalPages":1682,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"chicken","generalSearchInput":"chicken","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":10,"requireAllWords":false},"foods":[{"fdcId":1563986,"description":"CHICKEN","lowercaseDescription":"chicken","dataType":"Branded","gtinUpc":"077400428352","publishedDate":"2021-03-19","brandOwner":"Carl
        Buddig & Company","brandName":"BUDDIG","ingredients":"MECHANICALLY SEPARATED
        CHICKEN, CHICKEN, CHICKEN BROTH, SALT. LESS THAN 2% OF: MODIFIED FOOD STARCH,
        DEXTROSE, POTASSIUM LACTATE, CARRAGEENAN, SODIUM PHOSPHATE, AUTOLYZED YEAST
        EXTRACT, SODIUM ERYTHORBATE, SODIUM DIACETATE, NATURAL FLAVORING, SODIUM NITRITE,
        TURMERIC, CULTURED CELERY POWDER, VINEGAR.","marketCountry":"United States","foodCategory":"Pepperoni,
        Salami & Cold Cuts","allHighlightFields":"<b>Ingredients</b>: MECHANICALLY
        SEPARATED <em>CHICKEN</em>, <em>CHICKEN</em>, <em>CHICKEN</em> BROTH, SALT.
        LESS THAN 2% OF: MODIFIED FOOD STARCH","score":784.17395,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":16.1},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":8.93},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":3.57},{"nutrientId":1008,"nutrientName":"Energy","nu[...]
