---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=DONT SHOW MY API KEY&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3599'
      X-Vcap-Request-Id:
      - 76b707be-a4c3-48ff-5f6a-952f7746b15f
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49295,"currentPage":1,"totalPages":986,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potatoes","generalSearchInput":"sweet potatoes","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":983525,"description":"SWEET
        POTATOES","lowercaseDescription":"sweet potatoes","dataType":"Branded","gtinUpc":"8901020020844","publishedDate":"2020-06-26","brandOwner":"NOT
        A BRANDED ITEM","ingredients":"ORGANIC SWEET POTATOES.","marketCountry":"United
        States","foodCategory":"Pre-Packaged Fruit & Vegetables","modifiedDate":"2020-04-13","dataSource":"LI","servingSizeUnit":"g","servingSize":133.0,"householdServingFullText":"133
        GRM","tradeChannels":["NO_TRADE_CHANNEL"],"allHighlightFields":"<b>Ingredients</b>:
        ORGANIC <em>SWEET</em> <em>POTATOES</em>.","score":917.7001,"microbes":[],"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":1.5,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":11594935,"percentDailyValue":0},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":11594937,"percentDailyValue":0},{"nutrientId":1005,"[...]
