---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/food?api_key=DONT SHOW MY API KEY&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3598'
      X-Vcap-Request-Id:
      - 1ea03b60-8974-45f9-722f-3578a9c071e0
    body:
      encoding: UTF-8
      string: '{"timestamp":"2022-09-09T15:41:49.855+0000","status":400,"error":"Bad
        Request","message":"Failed to convert value of type ''java.lang.String'' to
        required type ''java.lang.Long''; nested exception is java.lang.NumberFormatException:
        For input string: \"food\"","path":"/portal-data/api/v1/food"}'
  recorded_at: Fri, 09 Sep 2022 15:41:49 GMT
recorded_with: VCR 6.1.0
