---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=Oh6D7U1KoYWUtGhtcpEKAX2g2CK4hiCY5xrMwo8X&query=chocolate
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3568'
      X-Vcap-Request-Id:
      - 12dd5e75-8310-49d2-4852-ea937e29746f
    body:
      encoding: UTF-8
      string: '{"totalHits":42020,"currentPage":1,"totalPages":841,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"chocolate","generalSearchInput":"chocolate","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1663092,"description":"CHOCOLATE","lowercaseDescription":"chocolate","dataType":"Branded","gtinUpc":"034000120802","publishedDate":"2021-03-19","brandOwner":"The
        Hershey Company","brandName":"HERSHEY''S KISSES","ingredients":"MILK CHOCOLATE
        [CANE SUGAR; MILK; CHOCOLATE; COCOA BUTTER; MILK FAT; LECITHIN (SOY); NATURAL
        FLAVOR].","marketCountry":"United States","foodCategory":"Chocolate","modifiedDate":"2018-02-16","dataSource":"LI","servingSizeUnit":"g","servingSize":41.0,"allHighlightFields":"<b>Ingredients</b>:
        MILK <em>CHOCOLATE</em> [CANE SUGAR; MILK; <em>CHOCOLATE</em>; COCOA BUTTER;
        MILK FAT; LECITHIN (SOY); NATURAL FLAVOR].","score":592.92566,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":7.32,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":19295141},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":29.3,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":19295142,"percentDailyValue":18},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":61.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":19295143,"percentDailyValue":8},{"nutrientId":1008,"nutrie[...]
