---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=DONT SHOW MY API KEY&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3589'
      X-Vcap-Request-Id:
      - 5b3771b8-3837-458d-45f4-650c8238fc3d
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":409897,"currentPage":1,"totalPages":8198,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":1104067,"description":"100
        GRAND Bar","lowercaseDescription":"100 grand bar","commonNames":"","additionalDescriptions":"$
        100,000 Bar","dataType":"Survey (FNDDS)","foodCode":91715300,"publishedDate":"2020-10-30","foodCategory":"Candy
        containing chocolate","foodCategoryId":999786,"allHighlightFields":"","score":1.0,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","value":2.5,"rank":600,"indentLevel":1,"foodNutrientId":13301423},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","value":19.3,"rank":800,"indentLevel":1,"foodNutrientId":13301424},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","value":71.0,"rank":1110,"indentLevel":2,"foodNutrientId":13301425},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","value":468,"rank":300,"indentLevel":1,"foodNutrientId":13301[...]
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=DONT SHOW MY API KEY&query=sweet%20potatoes
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3590'
      X-Vcap-Request-Id:
      - b92d9ee6-5e4e-43fc-4f3f-44d7cfceaa85
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":49676,"currentPage":1,"totalPages":994,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"sweet
        potatoes","generalSearchInput":"sweet potatoes","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":983525,"description":"SWEET
        POTATOES","lowercaseDescription":"sweet potatoes","dataType":"Branded","gtinUpc":"8901020020844","publishedDate":"2020-06-26","brandOwner":"NOT
        A BRANDED ITEM","ingredients":"ORGANIC SWEET POTATOES.","marketCountry":"United
        States","foodCategory":"Pre-Packaged Fruit & Vegetables","modifiedDate":"2020-04-13","dataSource":"LI","servingSizeUnit":"g","servingSize":133.0,"householdServingFullText":"133
        GRM","allHighlightFields":"<b>Ingredients</b>: ORGANIC <em>SWEET</em> <em>POTATOES</em>.","score":986.6137,"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":1.5,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":11594935,"percentDailyValue":0},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":11594937,"percentDailyValue":0},{"nutrientId":1005,"[...]
